<ion-content class="ion-padding">

  <div class="login-wrap">

    <div class="login-marca">
      <div class="login-logo">MF</div>
      <h1>Criar conta</h1>
      <p>Cadastro com e-mail e senha no Firebase</p>
    </div>

    <ion-card>
      <ion-card-content>

        <ion-item lines="none">
          <ion-label position="stacked">E-mail</ion-label>
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="ex: aluno@ifsc.edu.br">
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Senha</ion-label>
          <input
            type="password"
            [(ngModel)]="senha"
            name="senha"
            placeholder="Mínimo de 6 caracteres">
        </ion-item>

        <p class="msg-erro">
          {{ mensagemErro }}
        </p>

        <ion-button expand="block" (click)="cadastrar()">
          Cadastrar
        </ion-button>

        <ion-button expand="block" fill="clear" routerLink="/login">
          Já tenho conta
        </ion-button>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
